body{
    background-color: gray;
}

*{
 padding: 0;
 margin:0;
}
#game{
    
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    width: 500px;
    height: 220px;
    border: 1px solid green;
    animation: png 0.5s infinite alternate;
}

@keyframes png{
    0%{background-position: left;}
    100%{background-position: right;}
}


#character{
    width: 40px;
    height: 30px;
    background-image:url(WhatsApp-logo-2048x1152.png) ;
    background-repeat: no-repeat;
    background-size: 50px;
    position: relative;
    top: 150px;
    
}
.animate{
    animation: jump 500ms ;
}
@keyframes jump{
    0%{top:150px;}
    50%{top:100px;}
    100%{top:150px;}
}
#block{
    width: 20px;
    height: 20px;
   background: linear-gradient(rgb(4, 4, 66),darkblue);
    position: relative;
    top: 130px;
    left: 430px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}

    0%{rotate: -20deg;}
    50%{rotate: -50deg;}
}
